<h1>Donations Summary</h1>
<h4><%= link_to 'New Donor', donors_path %> <%= link_to 'New Donation', donations_path %></h4>
    <th>Name</th>
    <th>Email</th>
    <th>Total Donated</th>
    <th colspan="3"></th>

  </tbody>
</table>
