<%= form_for(@donor_test) do |f| %>
  <% if @donor_test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@donor_test.errors.count, "error") %> prohibited this donor_test from being saved:</h2>

      <ul>
      <% @donor_test.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
