<h1>Listing donor_tests</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @donor_tests.each do |donor_test| %>
      <tr>
        <td><%= donor_test.name %></td>
        <td><%= donor_test.email %></td>
        <td><%= link_to 'Show', donor_test %></td>
        <td><%= link_to 'Edit', edit_donor_test_path(donor_test) %></td>
        <td><%= link_to 'Destroy', donor_test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Donor test', new_donor_test_path %>
