<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @donor_test.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @donor_test.email %>
</p>

<%= link_to 'Edit', edit_donor_test_path(@donor_test) %> |
<%= link_to 'Back', donor_tests_path %>
